@model nirgi_mvc.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last name</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First name</label>
                <input asp-for="FirstName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label">Enrollment date</label>
                <input asp-for="EnrollmentDate" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary"> <a asp-action="Index">Back</a> </button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>