@model nirgi_mvc.Models.Student

@{
    ViewData["title"] = "delete";
}

<h1 class="text-danger">DELETE</h1>
<h4>@Model.FullName</h4>
<br />
<h5>Are you sure you want to get rid of this idiot?</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="confirm" class="btn btn-danger" />
}
