html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

button a {
    text-decoration: none;
}

.number-highlight {
    color: rgb(5, 113, 255);
    font-weight: bold;
}

.nav-item {
    transition-duration: 0.15s;
}

.nav-item:hover {
    font-size: large;
}

.navbar-brand {
    font-size: xx-large;
}

tr.header {
    background-color: rgb(5, 113, 255);
    color: white;
}