@model IEnumerable<nirgi_mvc.Models.Instructor>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <label for="Name" class="control-label">Name</label>
            <input name="Name" class="form-control" />

            <label for="Budget" class="control-label">Budget</label>
            <input name="Budget" type="number" class="form-control" />

            <label for="Administrator" class="control-label">Administrator</label>
            <select name="AdministratorId" class="form-select">
                @foreach(var instructor in Model)
                {
                    <option value="@instructor.Id">@instructor.FullName</option>
                }
            </select>

            <div class="form-group">
                <button class="btn btn-outline-primary"> <a asp-action="Index">Back</a> </button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>