@model nirgi_mvc.Models.Instructor

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">DELETE</h1>
<h4>@Model.FullName</h4>
<br />
<h5>Are you sure you want to get rid of this incompetent fool?</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Confirm" class="btn btn-danger" />
    </fieldset>
}
